body {
  margin: 0;
}

.main {
  margin: 2.5rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.main:focus {
  outline: none;
}

.wordle {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 3pt solid gray;
}

@media (min-width: 40em) {
  .wordles {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  .wordle {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
